.container{
  margin:0 0 0 0;
  padding:0;
  width:100%;
  position:relative;
}
.userInfo > li{
  list-style:none;
}
.userInfo{
  padding:0;
}
.content{
  width:971px;
  margin:0 auto 5% auto;
}
.center{
  width:971px;
  margin:0 auto;
  padding:0 2%;
}
.search{
  width:200px;
}
.navbar-brand{
  color:black;
  font-weight:bold;
  font-size:20pt;
}
.navbar-form .form-control{
  display: inline-block;
  width:345px;
  vertical-align:middle;
  height:30px;
  margin:1% 0;
}
.btn{
  margin:1% 0;
  font-weight:bold;
  font-size:8pt;
}
button{
  width:60px;
  align-content:center;
}
.sign-up{
  background-color:lawngreen;
  color:white;
}
#avatar{
  width:220px;
  border-radius:8px;
}
aside{
  margin:0;
  padding:0;
}
.name{
  margin:0;
}
.user{
  margin:0;
  color:gray;
}
.glyphicon{
  color:lightgray;
}
.orgs{
  width:30px;
}
.popular, .contrib2{
  margin-top:3ex;
  width:48%;
  border:1px solid lightgray;
  padding:0;
  text-indent:1em;
}
.col-md-6{
  width:35%;
  margin-right:23px;
}
.contrib2{
  height:200px;
}
.pubCon{
  height:250px;
  border:1px solid;
  background-color:lightgray;
  margin-top:30px;
  width:50%;
}
.popular hr, .contrib2 hr, #conActivity hr{
  margin-bottom:2ex;
}
#conActivity{
  height:1450px;
  border:1px solid red;
  background-color:lightgray;
  margin-top:30px;
}
#repos, #activity{
  display:none;
}
.repoList{
  list-style-type:none
}
.octicon:before{
  margin-right:1ex;
}
#name{
  margin-top:6px;
  font-weight:bold;
  font-size:28px;
}
#user{
  font-size:20px;
  margin-top:-7px;
  font-weight:300;
}
#location:before{
  padding-right:4px;
}
#graph{
  width:50%;
}
@media (max-width:992){
  body{
    font-size:10px;
  }
  .octicon-logo-github{
    font-size:20px;
    padding-top:1.7ex;
  }
}
@media (max-width:768px){
  .center{
    width:100%;
  }
}
