body > .container{
  min-width:1020px;
}
.navbar-brand{
  font-size:4ex;
}
.stats big{
  font-size:200%;
}
.bio li{
  line-height:2;
}
.bio .octicon:before{
  display:inline-block;
  color:gray;
  width:2em;
  text-align:center;
}
.tab-panel{
  display:none;
}
.tab-panel.active{
  display:block;
}
